
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<h1>Stupid Coaching</h1>
<p><%= @question %> <br>-you</p>
<p><%= @answer %> <br>-your coach</p>

<p id= "link"><%= link_to "Ask a new question", ask_path %></p>

